.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}







/*РЕАКТ-ТРЕНАЖЁР: */


/*   1.6  */
/* идеальный пример пропса - звёздочки*/
/*
.star {
  font-size: 42px;
  color: #FBB202;
  margin: 4px;
}

.star:after {
  content: '☆';
}

.checked:after {
  content: '★';
}

.title {
  margin-top: 8px;
}
*/


/*2.1*/
/*
.notification {
  padding: 8px;
  margin: 8px 0;
  background-color: #CAE3F0;
}

.notification.info {
  background-color: #d2ecd5;
}

.notification.warning {
  background-color: #f9edc1;
}

.notification.error {
  background-color: #f5dbd9;
}

.title {
  display: inline-block;
  margin-left: 4px;
  font-weight: bold;
}

.message {
  margin-top: 8px;
  color: #3e4956;
}
*/



/*2.4*/
/*
.title {
   margin: 16px 0;
  font-size: 20px;
  font-weight: 400
}

.progressBarTitle {
  color: blue;
}

.progressBar {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  transition: all 0.2s;
}


.progressBarWrapper {
  background: #CECECE;
  height: 20px;
  width: 100%;
  display: flex;
  align-items: center;
}

.progressBarDone {
  background: red;
  color: #fff;
  text-align: right;
  padding: 5px 10px;
  font-weight: bold;
  height: 100%;
  width: var(--progress-amount, 0%);
  display: flex;
  align-items: center;
}

.progressBarDone span {
  margin-right: 5px;
}
*/




